[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "H2x2Factorial"]
	path = H2x2Factorial
	url = https://github.com/billytian/h2x2factorial
